[user]
	name = Santtu Lintervo
	email = santervo@gmail.com
[core]
	editor = vim
	excludesfile = /Users/santtu/.gitexcludes
[push]
  default = tracking

[merge]
	conflictstyle = diff3
[mergetool "meld"]
  cmd = "meld -o $MERGED $LOCAL $MERGED $REMOTE"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	s = status
	d = diff --color-words
	co = checkout
	aa = add -A
	l = log --oneline
	ln = log --oneline --name-only
	lp = log --oneline -p --color-words
	au = add -u
	dc = diff --cached
